{
    "openapi": "3.0.1",
    "info": {
        "title": "Employees",
        "description": "API endpoints used to manage employees in WinTeam.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://apim.myteamsoftware.com/wtnextgen/employees/v1"
        },
        {
            "url": "https://apim.myteamsoftware.com/wtnextgen/employees/v1"
        }
    ],
    "paths": {
        "/api/locations/{locationId}/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employees by Location",
                "description": "This API endpoint will return employee information along with their shift details for today/tomorrow based on a location.",
                "operationId": "getApiLocationsByLocationId",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"employeeNumber\", \"firstName\", \"lastName\", \"primaryJob\", \"titleDescription\", \"employmentStatus\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"employeeNumber\", \"firstName\", \"lastName\", \"primaryJob\", \"titleDescription\", \"employmentStatus\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.EmployeeByLocationOkResponse"
                                },
                                "example": {
                                    "data": {
                                        "pageNumber": 1,
                                        "pageSize": 1,
                                        "totalPages": 2,
                                        "totalCount": 2,
                                        "results": [
                                            {
                                                "links": [
                                                    {
                                                        "rel": "schedules-shift-details",
                                                        "href": "http://api-dev.teamsoftware.com/wtnextgen/schedules/v1/api/schedules/shiftdetails?employeeNumber=1361&fromDate=2020-09-23&toDate=2020-09-24",
                                                        "method": "GET"
                                                    }
                                                ],
                                                "employeeNumber": 1361,
                                                "firstName": "Luigi",
                                                "lastName": "Connors",
                                                "primaryJob": 905001,
                                                "titleDescription": "Cleaner",
                                                "employmentStatus": "Active"
                                            }
                                        ]
                                    },
                                    "success": true,
                                    "serverResponse": "OK"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/profile/{employeeNumber}/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee Profile",
                "description": "This API endpoint will return employee profile information of a specific employee.",
                "operationId": "getApiProfileByEmployeeNumber",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "Employee Number for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.EmployeeProfileOkResponse"
                                },
                                "example": {
                                    "data": {
                                        "firstName": "firstName",
                                        "middleName": "middleName",
                                        "lastName": "lastName",
                                        "phone1": 4025551111,
                                        "phone1Description": null,
                                        "phone1Extension": null,
                                        "phone1SMSStatus": null,
                                        "phone2": 4025552222,
                                        "phone2Description": null,
                                        "phone2Extension": null,
                                        "phone2SMSStatus": null,
                                        "phone3": 4025553333,
                                        "phone3Description": null,
                                        "phone3Extension": null,
                                        "phone3SMSStatus": null,
                                        "emailAddress": "mail@teamsoftware.com",
                                        "mailAddress": {
                                            "address1": "3941 New Avenue",
                                            "address2": "123 Adding  Address 2",
                                            "city": "Omaha",
                                            "state": "NE",
                                            "zip": 0,
                                            "latitude": null,
                                            "longitude": null
                                        },
                                        "physicalAddress": {
                                            "address1": null,
                                            "address2": null,
                                            "city": null,
                                            "state": null,
                                            "zip": null,
                                            "latitude": null,
                                            "longitude": null
                                        },
                                        "birthdate": "1937-01-06T12:00:00.0000000+00:00",
                                        "age": 30,
                                        "gender": 1,
                                        "primaryJobNumber": 123,
                                        "primaryJobDescription": "job",
                                        "supervisorName": "supervisorName",
                                        "hireDate": "2006-10-15T12:00:00.0000000+00:00",
                                        "serviceCreditDate": "0001-01-01T12:00:00.0000000+00:00",
                                        "basePayRate": 0,
                                        "payRateEffectiveDate": "0001-01-01T12:00:00.0000000+00:00",
                                        "statusInfoID": 0,
                                        "statusInfoDescription": null,
                                        "statusInfoEffectiveDate": "0001-01-01T12:00:00.0000000+00:00"
                                    },
                                    "success": true,
                                    "serverResponse": "OK"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/classifications/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee Classification",
                "description": "This API endpoint will return a list of classification.",
                "operationId": "getApiClassifications",
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"Id\", \"Description\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"Id\", \"Description\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "description": "Flag to show only active records if set to True, all records if set to False. False (by default).",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.EmployeeClassificationOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 100,
                                            "totalPages": 1,
                                            "totalCount": 4,
                                            "results": [
                                                {
                                                    "id": 120,
                                                    "description": "Trained for Build. Super",
                                                    "active": true
                                                },
                                                {
                                                    "id": 130,
                                                    "description": "Trained for Area Super",
                                                    "active": true
                                                },
                                                {
                                                    "id": 220,
                                                    "description": "Trained for Crew Super",
                                                    "active": true
                                                },
                                                {
                                                    "id": 320,
                                                    "description": "Trained for Seargent",
                                                    "active": true
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeNumber}/compliance-items/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Compliance Items",
                "description": "This API endpoint will retrieve compliance information for a particular employee.",
                "operationId": "getApiEmployeesByEmployeeNumberComplianceitems",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.ComplianceItemsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 109,
                                            "description": "Do Not Use - Gun License",
                                            "performanceId": 3,
                                            "skipped": false,
                                            "failed": false,
                                            "externalId": null,
                                            "dueDate": "1996-11-02T12:00:00.0000000+00:00",
                                            "dateCompleted": "1996-11-15T12:00:00.0000000+00:00",
                                            "score": 98,
                                            "frequency": "Annually",
                                            "frequencyID": 7,
                                            "notes": "80 Hours Vacation Accrued - need to take before August 30, 2020.",
                                            "systemNotes": "roy - 10/6/2023 9:18:15 AM - added record in Compliance Tracking By Employee screen.",
                                            "imageFilePath": "img/images/picture.jpg",
                                            "licenseExpirationCode": null,
                                            "expirationDate": "2023-10-07T12:00:00.0000000+00:00"
                                        },
                                        {
                                            "id": 8702,
                                            "description": "Drivers License",
                                            "performanceId": 3,
                                            "skipped": false,
                                            "failed": false,
                                            "externalId": null,
                                            "dueDate": null,
                                            "dateCompleted": null,
                                            "score": 100,
                                            "frequency": null,
                                            "frequencyID": null,
                                            "notes": "80 Hours Vacation Accrued - need to take before August 30, 2020.",
                                            "systemNotes": "roy - 10/6/2023 9:18:15 AM - added record in Compliance Tracking By Employee screen.",
                                            "imageFilePath": "img/images/picture.jpg",
                                            "expirationDate": "2023-10-07T12:00:00.0000000+00:00",
                                            "licenseExpirationCode": {
                                                "dateApplied": "2023-10-06T12:00:00.0000000+00:00",
                                                "pendingDate": null,
                                                "dateRevoked": null,
                                                "extensionDate": null,
                                                "statusId": 3,
                                                "status": "Issued",
                                                "number": "NE4532222",
                                                "licenseStage": "Expired",
                                                "licenseStageId": 2
                                            }
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/custom-fields/definitions/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee Custom Field Definitions",
                "description": "This API endpoint will return a list of custom field definitions linked to the Employee Master File.",
                "operationId": "getApiCustomfieldsDefinitions",
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.CustomFieldDefinitionsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "fieldNumber": 1,
                                            "fieldType": 2,
                                            "options": null,
                                            "caption": "License",
                                            "required": false,
                                            "description": "Drivers license number",
                                            "minimum": null,
                                            "maximum": null,
                                            "visible": true,
                                            "defaultValue": null,
                                            "numberOfDecimalPlaces": 0
                                        },
                                        {
                                            "fieldNumber": 2,
                                            "fieldType": 1,
                                            "options": [
                                                {
                                                    "id": 1,
                                                    "description": "No"
                                                },
                                                {
                                                    "id": 2,
                                                    "description": "Yes"
                                                }
                                            ],
                                            "caption": "Wants Full Time",
                                            "required": true,
                                            "description": "Does this person want full time employment?",
                                            "minimum": null,
                                            "maximum": null,
                                            "visible": true,
                                            "defaultValue": null,
                                            "numberOfDecimalPlaces": 0
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeKey}/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee General Information",
                "description": "This API endpoint will return employee general information of a specific employee.",
                "operationId": "getApiEmployeesByEmployeeKey",
                "parameters": [
                    {
                        "name": "employeeKey",
                        "in": "path",
                        "description": "Employee number or employee ID for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "liteVersion",
                        "in": "query",
                        "description": "Flag to get basic information 'CCPA compliance'(true) or complete information(false). False by Default",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.EmployeeGeneralInfoOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "links": [
                                                {
                                                    "rel": "custom-fields",
                                                    "href": "https://api.myteamsoftware.com/wtnextgen/employees/v1/api/employees/8444/custom-fields",
                                                    "method": "GET"
                                                },
                                                {
                                                    "rel": "tax-information",
                                                    "href": "https://api.myteamsoftware.com/wtnextgen/employees/v1/api/employees/8444/taxes",
                                                    "method": "GET"
                                                },
                                                {
                                                    "rel": "pay-information",
                                                    "href": "https://api.myteamsoftware.com/wtnextgen/employees/v1/api/employees/8444/pay-info",
                                                    "method": "GET"
                                                }
                                            ],
                                            "employeeNumber": 14,
                                            "employeeId": "99999999-aaaa-8888-bbbb-bdd575a17aab",
                                            "firstName": "Luigi",
                                            "middleName": "C",
                                            "lastName": "Connors",
                                            "classificationId": 140,
                                            "emailAddress": "teamSoftwareTest@mail.com",
                                            "locationId": 1,
                                            "phone1": 4025551111,
                                            "phone1DescriptionId": 3,
                                            "phone1Extension": null,
                                            "phone2": 4025552222,
                                            "phone2DescriptionId": 3,
                                            "phone2Extension": null,
                                            "phone3": null,
                                            "phone3DescriptionId": null,
                                            "phone3Extension": null,
                                            "hireDate": "2016-04-05T12:00:00.0000000+00:00",
                                            "birthDate": "1980-09-08T12:00:00.0000000+00:00",
                                            "payCheckDistributionType": 2,
                                            "typeId": 4,
                                            "typeDescription": "Full-Time Salary",
                                            "payCheckFrequencyId": 5,
                                            "ethnicityId": 0,
                                            "genderId": 1,
                                            "supervisorId": 33,
                                            "primaryJob": 10084,
                                            "notes": null,
                                            "dateAdded": "2016-04-05T10:09:50.0000000+00:00",
                                            "securityLevel": 8,
                                            "accrualTypeId": 4,
                                            "partialSSN": 3456,
                                            "isSupervisor": true,
                                            "statusId": 1,
                                            "statusDescription": "Active",
                                            "directDepositThirdParty": false,
                                            "address": {
                                                "address1": "10827 Pine Street",
                                                "address2": null,
                                                "city": "Omaha",
                                                "state": "NE",
                                                "zip": 68131,
                                                "latitude": null,
                                                "longitude": null
                                            },
                                            "physicalAddress": {
                                                "address1": "10827 Pine Street",
                                                "address2": null,
                                                "city": "Omaha",
                                                "state": "NE",
                                                "zip": 68131,
                                                "latitude": null,
                                                "longitude": null
                                            },
                                            "integrations": [
                                                {
                                                    "key": "lighthouse",
                                                    "type": "lighthouse"
                                                }
                                            ],
                                            "userName": null
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pay-info/overtime-methods/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee Pay Information Overtime Methods",
                "description": "This API endpoint will return a list of Overtime Methods that exist in WinTeam.",
                "operationId": "getApiPayinfoOvertimemethods",
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"Id\", \"Description\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"Id\", \"Description\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.PayInfoOvertimeMethodOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 100,
                                            "totalPages": 1,
                                            "totalCount": 2,
                                            "results": [
                                                {
                                                    "id": 1,
                                                    "description": "WT OT Method 1",
                                                    "notes": "* Any hours worked over 40 in a pay week will be paid at time and one half."
                                                },
                                                {
                                                    "id": 2,
                                                    "description": "WT OT Method 2",
                                                    "notes": "* Any hours worked over 8 in a rolling 24 hour period will be paid as overtime."
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pay-info/reasons/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee Pay Information Reasons",
                "description": "This API endpoint will return a list of Pay Information Reasons within WinTeam.",
                "operationId": "getApiPayinfoReasons",
                "parameters": [
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "description": "Flag to show only active records if set to True, all records if set to False. False (by default)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "statusId",
                        "in": "query",
                        "description": "Reason status identifier.",
                        "schema": {
                            "type": "object"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.PayInfoReasonsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "description": "Change Job Title",
                                            "active": true
                                        },
                                        {
                                            "id": 2,
                                            "description": "Annual Increase",
                                            "active": true
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/types/": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve Employee Types",
                "description": "This API endpoint will return a list of Employee Types within WinTeam. Employee Types define payroll characteristics, such as Full-Time Hourly, Full-Time Salary, or Part-Time Hourly.",
                "operationId": "getApiTypes",
                "parameters": [
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "description": "Flag to show only active records if set to True, all records if set to False. False (by default).",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.EmployeeTypeOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "description": "Full-Time Salary",
                                            "active": true
                                        },
                                        {
                                            "id": 2,
                                            "description": "Part-Time Salary",
                                            "active": false
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/partial-employees/": {
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Create Partial Employee",
                "description": "This API endpoint allows for partial employee data to be added to the system.",
                "operationId": "postApiPartialemployees",
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Partial Employee Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Models.PartialEmployee"
                            },
                            "example": {
                                "employeeNumber": 15152459,
                                "socialSecurityNumber": 221133554,
                                "partialSSN": 1234456,
                                "salutation": "Mr.",
                                "firstName": "First",
                                "middleName": "Partial",
                                "lastName": "Employee",
                                "address": {
                                    "address1": "407 S 27th Avenue",
                                    "address2": "222 S 22th Avenue",
                                    "city": "Omaha",
                                    "state": "NE",
                                    "zip": 68131
                                },
                                "phone1": 4021234567,
                                "phone1Description": 9,
                                "phone1Extension": 111,
                                "phone2": 4021234522,
                                "phone2Description": 1,
                                "phone2Extension": 222,
                                "phone3": 4021234333,
                                "phone3Description": 2,
                                "phone3Extension": 333,
                                "emailAddress": "test@test.es",
                                "birthDate": "1980-04-01T12:00:00.0000000+00:00",
                                "genderId": 1,
                                "ethnicityId": 6,
                                "locationId": 5,
                                "companyNumber": 1,
                                "hireDate": "2008-12-31T12:00:00.0000000+00:00",
                                "classificationId": 120,
                                "typeId": 5,
                                "primaryJob": "10002A",
                                "payCheckDistributionType": 7,
                                "payCheckFrequencyId": 6,
                                "accrualTypeId": 2,
                                "supervisorId": 5,
                                "notes": "TEST: Adding notes",
                                "employeeStatusInformation": {
                                    "effectiveDate": "2017-12-01T12:00:00.0000000+00:00",
                                    "statusId": 1,
                                    "reason": 65,
                                    "jobNumber": "10002A"
                                },
                                "emergencyContacts": [
                                    {
                                        "firstName": "Jhon",
                                        "lastName": "Doe",
                                        "primaryPhone": 4021442343,
                                        "secondaryPhone": 4021245345,
                                        "email": "Jhond@email.com",
                                        "relationship": "Brother",
                                        "address": {
                                            "address1": "405 S 27th Avenue",
                                            "city": "Omaha",
                                            "state": "NE",
                                            "zip": 68131
                                        }
                                    },
                                    {
                                        "firstName": "Marie",
                                        "lastName": "Doe",
                                        "primaryPhone": 4561233569,
                                        "secondaryPhone": 1239993452,
                                        "email": "marid@email.com",
                                        "relationship": "Sister",
                                        "address": {
                                            "address1": "407 S 27th Avenue",
                                            "city": "Omaha",
                                            "state": "NE",
                                            "zip": 68131
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.PostPartialEmployeeResponse"
                                },
                                "example": {
                                    "type": "PartialEmployee",
                                    "id": "2e0a7b50-a434-41b9-bc12-ec7bf64f98f1",
                                    "tenantId": "543416b1-30e9-42c2-934e-c9f3d39eace5",
                                    "isImported": false,
                                    "securityLevel": 2,
                                    "employeeID": "00000000-0000-0000-0000-000000000000",
                                    "employeeNumber": 1234577,
                                    "socialSecurityNumber": 221133554,
                                    "partialSSN": 1234456,
                                    "salutation": "Mr.",
                                    "firstName": "First",
                                    "middleName": "Partial",
                                    "lastName": "Employee",
                                    "address": {
                                        "address1": "407 S 27th Avenue",
                                        "address2": "222 S 22th Avenue",
                                        "city": "Omaha",
                                        "state": "NE",
                                        "zip": 68131,
                                        "latitude": null,
                                        "longitude": null
                                    },
                                    "physicalAddress": null,
                                    "samePhysicalAddress": false,
                                    "phone1": 4021234567,
                                    "phone1Description": 9,
                                    "phone1Extension": 111,
                                    "phone1SMSEnabled": false,
                                    "phone2": 4021234522,
                                    "phone2Description": 1,
                                    "phone2Extension": 222,
                                    "phone2SMSEnabled": false,
                                    "phone3": 4021234333,
                                    "phone3Description": 2,
                                    "phone3Extension": 333,
                                    "phone3SMSEnabled": false,
                                    "emailAddress": "test@test.es",
                                    "birthDate": "1980-04-01T12:00:00.0000000+00:00",
                                    "genderId": 1,
                                    "ethnicityId": 6,
                                    "locationId": 5,
                                    "companyNumber": 1,
                                    "hireDate": "2008-12-31T12:00:00.0000000+00:00",
                                    "classificationId": 120,
                                    "typeId": 5,
                                    "primaryJob": "10002A",
                                    "payCheckDistributionType": 7,
                                    "payCheckFrequencyID": 6,
                                    "accrualTypeID": 2,
                                    "supervisorId": 5,
                                    "notes": "TEST: Adding notes",
                                    "benefitCategoryId": null,
                                    "benefitCategoryId2": null,
                                    "otherInfoI9ExpireDate": null,
                                    "otherInfoI9TypeId": null,
                                    "serviceCreditDate": null,
                                    "otherInfoDateFullTime": null,
                                    "otherInfoEligibleVacation": false,
                                    "vacationDateFirstEligible": null,
                                    "otherInfoEligibleHolidays": false,
                                    "otherInfoEligibleSick": false,
                                    "otherInfoEligibleInsurance1": false,
                                    "otherInfoEligibleInsurance2": false,
                                    "otherInfoEligibleInsurance3": false,
                                    "otherInfoEligibleDependentInsurance": false,
                                    "otherInfoEligibleDependentInsuranceDate": null,
                                    "otherInfoWhenSun": false,
                                    "otherInfoWhenSunFrom": null,
                                    "otherInfoWhenSunTo": null,
                                    "otherInfoWhenMon": false,
                                    "otherInfoWhenMonFrom": null,
                                    "otherInfoWhenMonTo": null,
                                    "otherInfoWhenTue": false,
                                    "otherInfoWhenTueFrom": null,
                                    "otherInfoWhenTueTo": null,
                                    "otherInfoWhenWed": false,
                                    "otherInfoWhenWedFrom": null,
                                    "otherInfoWhenWedTo": null,
                                    "otherInfoWhenThu": false,
                                    "otherInfoWhenThuFrom": null,
                                    "otherInfoWhenThuTo": null,
                                    "otherInfoWhenFri": false,
                                    "otherInfoWhenFriFrom": null,
                                    "otherInfoWhenFriTo": null,
                                    "otherInfoWhenSat": false,
                                    "otherInfoWhenSatFrom": null,
                                    "otherInfoWhenSatTo": null,
                                    "clockGroupID": null,
                                    "badgeID": null,
                                    "pictureFilePath": null,
                                    "otherInfoStaffEmployee": false,
                                    "corporateOfficerOwner": false,
                                    "unionMember": false,
                                    "excludeFromPredictabilityPay": false,
                                    "useJobLunchParameters": false,
                                    "otherInfo401KParticipate": false,
                                    "otherInfo401KDateEligible": null,
                                    "otherInfo401KDeductionType": null,
                                    "otherInfo401KAmount": null,
                                    "otherInfo401KPercent": null,
                                    "otherInfoDirectDeposit": false,
                                    "w2ReceiveElectronic": false,
                                    "receiveElectronic1095": false,
                                    "disability": null,
                                    "disabilityDateCompleted": null,
                                    "vetDisabled": false,
                                    "vetVietnam": false,
                                    "vetOther": false,
                                    "vetDeclinedToAnswer": false,
                                    "vetSeparationDate": null,
                                    "userName": null,
                                    "dateAdded": "0001-01-01T12:00:00.0000000+00:00",
                                    "portalGroupID": null,
                                    "portalUserLevelID": null,
                                    "otherInfoDirectDepositAccountNumber": null,
                                    "otherInfoDirectDepositRoutingNumber": null,
                                    "otherInfoDirectDepositFinancialName": null,
                                    "otherInfoDirectDepositAccountType": null,
                                    "otherInfoATM": null,
                                    "employeePayInformation": null,
                                    "employeeTaxInformation": null,
                                    "employeeStatusInformation": {
                                        "id": 0,
                                        "effectiveDate": "2017-12-01T12:00:00.0000000+00:00",
                                        "newStatus": 1,
                                        "reason": 94,
                                        "returnFromLeaveDate": null,
                                        "employeeNumber": 1234577,
                                        "employeeId": "00000000-0000-0000-0000-000000000000",
                                        "jobNumber": "10002A"
                                    },
                                    "customFields": null,
                                    "integrations": null,
                                    "emergencyContacts": [
                                        {
                                            "firstName": "Jhon",
                                            "lastName": "Doe",
                                            "primaryPhone": 4021442343,
                                            "secondaryPhone": 4021245345,
                                            "email": "Jhond@email.com",
                                            "relationship": "Brother",
                                            "address": {
                                                "address1": "405 S 27th Avenue",
                                                "address2": null,
                                                "city": "Omaha",
                                                "state": "NE",
                                                "zip": 68131,
                                                "latitude": null,
                                                "longitude": null
                                            }
                                        },
                                        {
                                            "firstName": "Marie",
                                            "lastName": "Doe",
                                            "primaryPhone": 4561233569,
                                            "secondaryPhone": 1239993452,
                                            "email": "marid@email.com",
                                            "relationship": "Sister",
                                            "address": {
                                                "address1": "407 S 27th Avenue",
                                                "address2": null,
                                                "city": "Omaha",
                                                "state": "NE",
                                                "zip": 68131,
                                                "latitude": null,
                                                "longitude": null
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID!",
                                            "attemptedValue": "No value provided"
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Error: One or more errors were detected during request validation. See the Errors collection for details."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Operation failed! Please contact the administrator for more details."
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Retrieve All Partial Employees",
                "description": "This API endpoint will return a list of partial employees waiting to be imported to WinTeam.",
                "operationId": "getApiPartialemployees",
                "parameters": [
                    {
                        "name": "includeImported",
                        "in": "query",
                        "description": "Flag to retrieve only records ready to import in WinTeam if set to false, all records if set to true. false (by default).",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"EmployeeNumber\", \"FirstName\", \"MiddleName\", \"LastName\", \"ClassificationId\", \"EmailAddress\", \"PrimaryJob\".",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"EmployeeNumber\", \"FirstName\", \"MiddleName\", \"LastName\", \"ClassificationId\", \"EmailAddress\", \"PrimaryJob\".",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Employees.Functions.Models.Responses.PartialEmployeeOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 2,
                                            "totalPages": 2,
                                            "totalCount": 4,
                                            "results": [
                                                {
                                                    "type": "PartialEmployee",
                                                    "id": "35908fb9-735c-4cff-8ac7-a58a2a2041ad",
                                                    "tenantId": "543416b1-30e9-42c2-934e-c9f3d39eace5",
                                                    "isImported": false,
                                                    "emergencyContacts": [
                                                        {
                                                            "firstName": "Jhon",
                                                            "lastName": "Doe",
                                                            "primaryPhone": 4021442343,
                                                            "secondaryPhone": 4021245345,
                                                            "email": "Jhond@email.com",
                                                            "relationship": "Brother",
[...]
