{
    "openapi": "3.0.1",
    "info": {
        "title": "Jobs (v2)",
        "description": "API endpoints used to manage jobs in WinTeam.",
        "version": "v2"
    },
    "servers": [
        {
            "url": "http://apim.myteamsoftware.com/wtnextgen/jobs/v2"
        },
        {
            "url": "https://apim.myteamsoftware.com/wtnextgen/jobs/v2"
        }
    ],
    "paths": {
        "/api/jobs/{jobKey}/gl-budgets": {
            "get": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Retrieve GL Budgets for Job",
                "description": "This API endpoint will retrieve GL Budgets for a particular Job.",
                "operationId": "getApiJobsByJobKeyGlbudgets",
                "parameters": [
                    {
                        "name": "jobKey",
                        "in": "path",
                        "description": "Job number or Job ID for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fiscalYear",
                        "in": "query",
                        "description": "Fiscal year to filter the budgets. If no value provided, it will use the current year",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "financialStatement",
                        "in": "query",
                        "description": "Financial Statement filter for the regular view. Default true.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "jobCostAnalysis",
                        "in": "query",
                        "description": "Job Cost Analysis filter for the regular view. Default true.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.GetGLBudgetsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "jobNumber": "40035N",
                                            "fiscalYear": 2021,
                                            "glBudgetId": 1668,
                                            "glBudgetDetails": [
                                                {
                                                    "id": 5390,
                                                    "glAccountNumber": 3010,
                                                    "glAccountDescription": "Service Income",
                                                    "financialStatement": 0,
                                                    "jobCostAnalysis": 0,
                                                    "budgetTotal": 130,
                                                    "period1": 10,
                                                    "period2": 120,
                                                    "period3": 0,
                                                    "period4": 0,
                                                    "period5": 0,
                                                    "period6": 0,
                                                    "period7": 0,
                                                    "period8": 0,
                                                    "period9": 0,
                                                    "period10": 0,
                                                    "period11": 0,
                                                    "period12": 0
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Add GL Budgets for Job",
                "description": "This API endpoint will add GL Budgets for a particular Job.",
                "operationId": "postApiJobsByJobKeyGlbudgets",
                "parameters": [
                    {
                        "name": "jobKey",
                        "in": "path",
                        "description": "Job number or Job ID for which the GL Budgets will be created.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.GLBudgetPost"
                            },
                            "example": {
                                "fiscalYear": 2019,
                                "gLBudgetDetails": [
                                    {
                                        "gLNumber": 4881,
                                        "financialStatement": 0,
                                        "jobCostAnalysis": 0,
                                        "period1": 1,
                                        "period2": 2,
                                        "period3": 3,
                                        "period4": 4,
                                        "period5": 5,
                                        "period6": 6,
                                        "period7": 7,
                                        "period8": 8,
                                        "period9": 9,
                                        "period10": 10,
                                        "period11": 10,
                                        "period12": 10
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.PostGLBudgetsOkResponse"
                                },
                                "example": {
                                    "jobKey": "40035N",
                                    "fiscalYear": 2019,
                                    "glBudgetId": 1669,
                                    "glBudgetDetails": [
                                        {
                                            "glNumber": 4878,
                                            "glBudgetId": 1668,
                                            "financialStatement": -1,
                                            "jobCostAnalysis": -1,
                                            "period1": 0,
                                            "period2": 0,
                                            "period3": 0,
                                            "period4": 0,
                                            "period5": 0,
                                            "period6": 0,
                                            "period7": 0,
                                            "period8": 0,
                                            "period9": 0,
                                            "period10": 0,
                                            "period11": 0,
                                            "period12": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs/{jobKey}/budgets": {
            "get": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Retrieve Job Budgets",
                "description": "This API endpoint will retrieve Budgets for a particular Job.",
                "operationId": "getApiJobsByJobKeyBudgets",
                "parameters": [
                    {
                        "name": "jobKey",
                        "in": "path",
                        "description": "Job number or Job ID for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.GetJobBudgetsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 4355,
                                            "effectiveDate": "2015-01-01T12:00:00.0000000+00:00",
                                            "endDate": "2021-12-31T12:00:00.0000000+00:00",
                                            "dateCreated": "2010-10-12T02:53:04.0000000+00:00",
                                            "userName": "Winteam",
                                            "notes": "Automatically Created during a Fiscal Year change, or changing the number of years to Project.",
                                            "status": "Posted - Cannot Edit",
                                            "details": [
                                                {
                                                    "hours": {
                                                        "description": "Day Custodian",
                                                        "type": 1,
                                                        "salaried": null,
                                                        "dayOfWeek": {
                                                            "sun": null,
                                                            "mon": 35,
                                                            "tue": 35,
                                                            "wed": 35,
                                                            "thu": 35,
                                                            "fri": 35,
                                                            "sat": null,
                                                            "hol": null
                                                        }
                                                    },
                                                    "rates": {
                                                        "billRate": 10,
                                                        "payRate": 6.5
                                                    }
                                                },
                                                {
                                                    "hours": {
                                                        "description": "Night Custodian",
                                                        "type": 6,
                                                        "salaried": null,
                                                        "dayOfWeek": {
                                                            "sun": 8,
                                                            "mon": 25,
                                                            "tue": 25,
                                                            "wed": 25,
                                                            "thu": 25,
                                                            "fri": 25,
                                                            "sat": 8,
                                                            "hol": null
                                                        }
                                                    },
                                                    "rates": {
                                                        "billRate": 12,
                                                        "payRate": 7.5
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 4356,
                                            "effectiveDate": "2014-01-01T12:00:00.0000000+00:00",
                                            "endDate": "2014-12-31T12:00:00.0000000+00:00",
                                            "dateCreated": "2010-10-12T02:53:03.0000000+00:00",
                                            "userName": "Winteam",
                                            "notes": "Automatically Created during a Fiscal Year change, or changing the number of years to Project.",
                                            "status": "Posted - Cannot Edit",
                                            "details": []
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Add Job Budgets",
                "description": "This API endpoint will add Budget History and Budget Details for a particular Job.",
                "operationId": "postApiJobsByJobKeyBudgets",
                "parameters": [
                    {
                        "name": "jobKey",
                        "in": "path",
                        "description": "Job number or Job ID for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.Requests.PostBudget"
                            },
                            "example": {
                                "effectiveDate": "2021-01-01T12:00:00.0000000+00:00",
                                "notes": "Some notes.",
                                "details": [
                                    {
                                        "hours": {
                                            "description": "Day Custodian",
                                            "type": 1,
                                            "salaried": null,
                                            "dayOfWeek": {
                                                "sun": null,
                                                "mon": 35,
                                                "tue": 35,
                                                "wed": 35,
                                                "thu": 35,
                                                "fri": 35,
                                                "sat": null,
                                                "hol": null
                                            }
                                        },
                                        "rates": {
                                            "billRate": 10,
                                            "payRate": 6.5
                                        }
                                    },
                                    {
                                        "hours": {
                                            "description": "Night Custodian",
                                            "type": 6,
                                            "salaried": null,
                                            "dayOfWeek": {
                                                "sun": 8,
                                                "mon": 25,
                                                "tue": 25,
                                                "wed": 25,
                                                "thu": 25,
                                                "fri": 25,
                                                "sat": 8,
                                                "hol": null
                                            }
                                        },
                                        "rates": {
                                            "billRate": 12,
                                            "payRate": 7.5
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.PostJobBudgetsOkResponse"
                                },
                                "example": {
                                    "effectiveDate": "2021-01-01T12:00:00.0000000+00:00",
                                    "notes": "Some notes.",
                                    "details": [
                                        {
                                            "hours": {
                                                "description": "Day Custodian",
                                                "type": 1,
                                                "salaried": null,
                                                "dayOfWeek": {
                                                    "sun": null,
                                                    "mon": 35,
                                                    "tue": 35,
                                                    "wed": 35,
                                                    "thu": 35,
                                                    "fri": 35,
                                                    "sat": null,
                                                    "hol": null
                                                }
                                            },
                                            "rates": {
                                                "billRate": 10,
                                                "payRate": 6.5
                                            }
                                        },
                                        {
                                            "hours": {
                                                "description": "Night Custodian",
                                                "type": 6,
                                                "salaried": null,
                                                "dayOfWeek": {
                                                    "sun": 8,
                                                    "mon": 25,
                                                    "tue": 25,
                                                    "wed": 25,
                                                    "thu": 25,
                                                    "fri": 25,
                                                    "sat": 8,
                                                    "hol": null
                                                }
                                            },
                                            "rates": {
                                                "billRate": 12,
                                                "payRate": 7.5
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs/{jobKey}/requirements/compliance-codes": {
            "get": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Retrieve Job Requirements",
                "description": "This API endpoint returns compliance codes for a particular job.",
                "operationId": "getApiJobsByJobKeyRequirementsCompliancecodes",
                "parameters": [
                    {
                        "name": "jobKey",
                        "in": "path",
                        "description": "Job number or Job ID for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.GetJobRequirementsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 102,
                                            "responseLevel": 8,
                                            "description": "Nebraska Guard License"
                                        },
                                        {
                                            "id": 111,
                                            "responseLevel": 8,
                                            "description": "Gun License"
                                        },
                                        {
                                            "id": 112,
                                            "responseLevel": 8,
                                            "description": "Indiana Guard License"
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs": {
            "get": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Retrieve Jobs",
                "description": "This API endpoint will return all jobs that are setup in WinTeam. Optionally this list can be filtered by Location.",
                "operationId": "getApiJobs",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "query",
                        "description": "The location identifier you want to filter the list of jobs.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"jobNumber\", \"parentJobNumber\", \"jobId\", \"jobDescription\", \"companyNumber\", \"lighthouseApplication\", \"hoursRuleId, \"jobJoinedDescription\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exactMatch",
                        "in": "query",
                        "description": "Indicates whether or not the comparison on the search text value will be exact. (false by default)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"jobNumber\", \"parentJobNumber\", \"jobId\", \"jobDescription\", \"companyNumber\", \"lighthouseApplication\", \"hoursRuleId\", \"jobJoinedDescription\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.GetJobsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 100,
                                            "totalPages": 1,
                                            "totalCount": 1,
                                            "results": [
                                                {
                                                    "links": [
                                                        {
                                                            "rel": "gl-budgets",
                                                            "href": "https://api.myteamsoftware.com/wtnextgen/jobs/v2/api/jobs/10002z/budgets",
                                                            "method": "GET"
                                                        },
                                                        {
                                                            "rel": "gl-budget-details",
                                                            "href": "https://api.myteamsoftware.com/wtnextgen/jobs/v2/api/jobs/10002z/gl-budgets",
                                                            "method": "GET"
                                                        }
                                                    ],
                                                    "jobJoinedDescription": "10002z Vandelay Industries",
                                                    "locationId": 1,
                                                    "companyNumber": 1,
                                                    "lighthouseApplication": null,
                                                    "hoursRuleId": 50,
                                                    "jobAttention": null,
                                                    "dateToStart": "2005-10-01T12:00:00.0000000+00:00",
                                                    "typeId": 6,
                                                    "phone1": null,
                                                    "phone1Description": null,
                                                    "phone2": null,
                                                    "phone2Description": null,
                                                    "phone3": null,
                                                    "phone3Description": null,
                                                    "supervisorId": 7,
                                                    "taxesInsuranceId": 1,
                                                    "salesTaxStateId": 4,
                                                    "jobPayrollTaxStateId": 22,
                                                    "hoursCategoryID": 9,
                                                    "notes": "This area is for note regarding this job",
                                                    "address": {
                                                        "jobAddress1": "909 So. 76th Street",
                                                        "jobAddress2": null,
                                                        "jobCity": "Omaha",
                                                        "jobState": "NE",
                                                        "jobZip": 68117
                                                    },
                                                    "taxAddress": {
                                                        "address1": "909 So. 76th Street",
                                                        "address2": null,
                                                        "city": "Omaha",
                                                        "state": "NE",
                                                        "zip": 68117,
                                                        "latitude": null,
                                                        "longitude": null,
                                                        "locationCode": null
                                                    },
                                                    "jobTiers": [
                                                        {
                                                            "tierID": 1,
                                                            "tierValue": 10,
                                                            "tierValueDescription": "Midwest Region"
                                                        },
                                                        {
                                                            "tierID": 2,
                                                            "tierValue": 10,
                                                            "tierValueDescription": "Omaha NE"
                                                        },
                                                        {
                                                            "tierID": 3,
                                                            "tierValue": 1,
                                                            "tierValueDescription": "Building Maintenance"
                                                        },
                                                        {
                                                            "tierID": 4,
                                                            "tierValue": 2,
                                                            "tierValueDescription": "Area 2 Manager"
                                                        },
                                                        {
                                                            "tierID": 5,
                                                            "tierValue": 3,
                                                            "tierValueDescription": "Route 3"
                                                        },
                                                        {
                                                            "tierID": 6,
                                                            "tierValue": 2,
                                                            "tierValueDescription": "School"
                                                        },
                                                        {
                                                            "tierID": 7,
                                                            "tierValue": 0,
                                                            "tierValueDescription": "None"
                                                        },
                                                        {
                                                            "tierID": 8,
                                                            "tierValue": 0,
                                                            "tierValueDescription": "None"
                                                        },
                                                        {
                                                            "tierID": 9,
                                                            "tierValue": 0,
                                                            "tierValueDescription": "None"
                                                        },
                                                        {
                                                            "tierID": 10,
                                                            "tierValue": 0,
                                                            "tierValueDescription": "None"
                                                        },
                                                        {
                                                            "tierID": 11,
                                                            "tierValue": 0,
                                                            "tierValueDescription": "None"
                                                        },
                                                        {
                                                            "tierID": 12,
                                                            "tierValue": 0,
                                                            "tierValueDescription": "None"
                                                        }
                                                    ],
                                                    "customFields": [
                                                        {
                                                            "fieldNumber": 2,
                                                            "value": 1
                                                        }
                                                    ],
                                                    "jobNumber": "10002z",
                                                    "parentJobNumber": null,
                                                    "jobId": "74de9508-bd76-4fb3-9d29-2aafe8719ee9",
                                                    "jobDescription": "Vandelay Industries"
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs/{jobKey}/schedules": {
            "get": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Retrieve Job Schedules",
                "description": "This API endpoint will return schedule information for a Job based on a date range.",
                "operationId": "getApiJobsByJobKeySchedules",
                "parameters": [
                    {
                        "name": "jobKey",
                        "in": "path",
                        "description": "Job number or Job ID for which the information is retrieved.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "The location identifier you want to filter the list of jobs.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "Date range.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Date range.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"id\", \"scheduleDetailsID\", \"jobNumber\", \"employeeNumber\", \"jobPostDetailID\", \"hours\", \"lunch\".",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"id\", \"scheduleDetailsID\", \"jobNumber\", \"employeeNumber\", \"jobPostDetailID\", \"workDate\", \"inTime\", \"outTime\", \"hours\", \"lunch\".",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.GetJobSchedulesOkReponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 100,
                                            "totalPages": 674,
                                            "totalCount": 67325,
                                            "results": [
                                                {
                                                    "id": 84868,
                                                    "scheduleDetailsID": 12966,
                                                    "jobNumber": 10004,
                                                    "employeeNumber": null,
                                                    "jobPostDetailID": 88,
                                                    "workDate": "2013-04-04T12:00:00.0000000+00:00",
                                                    "inTime": "2021-01-22T08:00:00.0000000+00:00",
                                                    "outTime": "2021-01-22T04:00:00.0000000+00:00",
                                                    "hours": 8,
                                                    "lunch": 0
                                                },
                                                {
                                                    "id": 84869,
                                                    "scheduleDetailsID": 12966,
                                                    "jobNumber": 10004,
                                                    "employeeNumber": null,
                                                    "jobPostDetailID": 88,
                                                    "workDate": "2013-04-05T12:00:00.0000000+00:00",
                                                    "inTime": "2021-01-22T08:00:00.0000000+00:00",
                                                    "outTime": "2021-01-22T04:00:00.0000000+00:00",
                                                    "hours": 8,
                                                    "lunch": 0
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gl-budgets/details/{id}": {
            "patch": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Update GL Budgets Details for a particular Budget",
                "description": "This API endpoint will update GL Budget Details for a particular Budget.",
                "operationId": "patchApiGlbudgetsDetailsById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Number of the GL Budget Details Id for which the information will be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Use the type definition for 'GLBudgetDetail' by structuring the HTTP Request body with a JSON Patch format, reference: http://jsonpatch.com/",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.GLBudgetDetail"
                            },
                            "example": [
                                {
                                    "op": "replace",
                                    "path": "/gLNumber",
                                    "value": 3010
                                },
                                {
                                    "op": "replace",
                                    "path": "/financialStatement",
                                    "value": 0
                                },
                                {
                                    "op": "replace",
                                    "path": "/jobCostAnalysis",
                                    "value": 0
                                },
                                {
                                    "op": "replace",
                                    "path": "/period1",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period2",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period3",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period4",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period5",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period6",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period7",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period8",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period9",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period10",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period11",
                                    "value": 350.25
                                },
                                {
                                    "op": "replace",
                                    "path": "/period12",
                                    "value": 350.25
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gl-budgets/{gLBudgetId}": {
            "patch": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Update GL Budget",
                "description": "This API endpoint will update the fiscal year and the job number for a particular GL Budget.",
                "operationId": "patchApiGlbudgetsByGLBudgetId",
                "parameters": [
                    {
                        "name": "gLBudgetId",
                        "in": "path",
                        "description": "Identifier of the GL Budget for which the information will be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Use the type definition for 'GLBudgetPatch' by structuring the HTTP Request body with a JSON Patch format, reference: http://jsonpatch.com/",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.GLBudgetPatch"
                            },
                            "example": [
                                {
                                    "op": "replace",
                                    "path": "/jobKey",
                                    "value": 5000
                                },
                                {
                                    "op": "replace",
                                    "path": "/fiscalYear",
                                    "value": 2020
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs/gl-budgets/{gLBudgetId}": {
            "post": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Add GL Budgets Details to a specific Budget.",
                "description": "This API endpoint will add GL Budgets Details to a specific Budget.",
                "operationId": "postApiJobsGlbudgetsByGLBudgetId",
                "parameters": [
                    {
                        "name": "gLBudgetId",
                        "in": "path",
                        "description": "General Ledger Budget Id to which records will be added.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.GLBudgetPostByGLBudgetId"
                            },
                            "example": {
                                "gLBudgetDetails": [
                                    {
                                        "gLNumber": 4881,
                                        "financialStatement": 0,
                                        "jobCostAnalysis": 0,
                                        "period1": 1,
                                        "period2": 2,
                                        "period3": 3,
                                        "period4": 4,
                                        "period5": 5,
                                        "period6": 6,
                                        "period7": 7,
                                        "period8": 8,
                                        "period9": 9,
                                        "period10": 10,
                                        "period11": 10,
                                        "period12": 10
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Functions.Models.Responses.PostGLBudgetByIdOkResponse"
                                },
                                "example": {
                                    "glBudgetId": 1669,
                                    "glBudgetDetails": [
                                        {
                                            "glNumber": 4878,
                                            "glBudgetId": 1668,
                                            "financialStatement": -1,
                                            "jobCostAnalysis": -1,
                                            "jan": 0,
                                            "feb": 0,
                                            "mar": 0,
                                            "apr": 0,
                                            "may": 0,
                                            "jun": 0,
                                            "jul": 0,
                                            "aug": 0,
                                            "sep": 0,
                                            "oct": 0,
                                            "nov": 0,
                                            "dec": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs/{jobId}": {
            "patch": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Update Job",
                "description": "This API endpoint allows existing Job records to be updated in WinTeam directly without the need of the Job Import tool.",
                "operationId": "patchApiJobsByJobId",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "Id or Number of the Job for which the information will be updated.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Use the type definition for 'JobPatch' by structuring the HTTP Request body with a JSON Patch format, reference: http://jsonpatch.com/",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.Requests.PatchJobRequest"
                            },
                            "example": [
                                {
                                    "op": "replace",
                                    "path": "/JobDescription",
                                    "value": "New Job Description"
                                },
                                {
                                    "op": "replace",
                                    "path": "/Phone1Description",
                                    "value": "Primary phone number"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": "MalformedTenant",
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/jobs/": {
            "post": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Add Job",
                "description": "The POST Job API allows new Job records to be created in WinTeam if all required fields are passed and no duplicate Job Numbers exist. New fields support comprehensive job configuration including contact information, billing details, payroll settings, budget controls, and tax details. Phone numbers must be exactly 10 numeric digits with no formatting characters (e.g., \"5551234567\").",
                "operationId": "postApiJobs",
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Jobs.Models.Requests.PostJobRequest"
                            },
                            "example": {
                                "JobNumber": "BT1240",
                                "JobId": "d1e5f2d4-9a7b-4c5b-b567-dfb9c0c11d9a",
                                "JobDescription": "Bryan job description",
                                "LocationId": 1,
                                "CompanyNumber": 3,
                                "Address": {
                                    "JobAddress1": "123 Main St",
                                    "JobAddress2": "Suite 400",
                                    "JobCity": "Anytown",
                                    "JobState": "NY",
                                    "JobZip": 12345
                                },
                                "TaxAddress": {
                                    "Address1": "456 Market St",
                                    "Address2": "",
                                    "City": "Othertown",
                                    "State": "CA",
                                    "Zip": 67890,
                                    "Latitude": 37.7749,
                                    "Longitude": -122.4194,
                                    "LocationCode": "LOC123"
                                },
                                "JobAttention": "John Doe",
                                "TypeId": 5,
                                "SupervisorId": 3,
                                "SalesTaxStateId": 6,
                                "JobPayrollTaxStateId": 7,
[...]
