{
    "openapi": "3.0.1",
    "info": {
        "title": "Schedules",
        "description": "API endpoints used to manage Schedules in WinTeam.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://apim.myteamsoftware.com/wtnextgen/schedules/v1"
        },
        {
            "url": "https://apim.myteamsoftware.com/wtnextgen/schedules/v1"
        }
    ],
    "paths": {
        "/api/shiftDetails": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Retrieve Employees Schedules Shift Details",
                "description": "This API endpoint will return Employees' shift detail information with the ability to filter the results based on employee number and date range. If EmployeeNumber is used as a Filter then pagination is not necessary. In situations where EmployeeNumber is not provided, all Employee Shift Details will be returned. This could return a large result set. Filtering and Paging is always recommended when no Employee Number is provided.",
                "operationId": "getApiShiftDetails",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "query",
                        "description": "Format - int32. If there is an employee number, filter results for that employee, else retrieve all employees",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Date from when the user wants to filter the results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). If there are From and To date, filter results based on those inputs, else return information from Today and Tomorrow",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Format - int32. The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Format - int32. A datapoint you’d like to sort records by. Possible values are: \"EmployeeNumber\", \"JobNumber\", \"WorkDate\", \"JobDescription\", \"PostID\", \"PostDescription\", \"PostDetailID\", \"TimeZoneName\", \"ShiftID\", \"ScheduleDetailID\", \"StartTime\", \"EndTime\", \"Lunch\", \"Hours\", \"CategoriesDetailID\", \"HourType\"",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.EmployeeShiftDetailsOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 2,
                                            "totalPages": 55,
                                            "totalCount": 109,
                                            "results": [
                                                {
                                                    "employeeNumber": 2214,
                                                    "jobNumber": 1364,
                                                    "jobDescription": "Company Description",
                                                    "postID": 1,
                                                    "postDescription": "Parking place",
                                                    "postDetailID": 1,
                                                    "utCoffset": -5,
                                                    "shifts": [
                                                        {
                                                            "scheduleDetailID": 26571,
                                                            "cellId": 1,
                                                            "startTime": "2020-10-08T08:00:00.0000000+00:00",
                                                            "endTime": "2020-10-08T04:00:00.0000000+00:00",
                                                            "lunch": 0,
                                                            "hours": 8,
                                                            "hourType": "Operations/Direct Wages",
                                                            "hourDescription": "Regular"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "success": true,
                                            "serverResponse": "OK."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeNumber}/call-off": {
            "put": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Multiple Schedules Call Off",
                "description": "This API endpoint allows an Employee to be unassigned from multiple schedules and updates the shift detail notes field. If using call off shift status, it will automatically update the status to Call Off.",
                "operationId": "putApiEmployeesByEmployeeNumberCalloff",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "Format - int32. Employee number.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Example",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Requests.MultipleCallOffRequestBody"
                            },
                            "example": {
                                "schedules": [
                                    {
                                        "scheduleDetailsId": 32095,
                                        "workDate": "2021-02-22T12:00:00.0000000+00:00"
                                    },
                                    {
                                        "scheduleDetailsId": 32096,
                                        "workDate": "2021-02-22T12:00:00.0000000+00:00"
                                    },
                                    {
                                        "scheduleDetailsId": 32098,
                                        "workDate": "2021-02-19T12:00:00.0000000+00:00"
                                    }
                                ],
                                "notes": "sample notes"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/notes": {
            "put": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Schedule Notes",
                "description": "The Schedule Notes endpoint allows for the creation of a new note based on a Schedule Details Shift Id and Work Date. If an existing note for this Id and Work Date exists, WinTeam will append it to that specific note otherwise it will create a new note.",
                "operationId": "putApiNotes",
                "parameters": [
                    {
                        "name": "workDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Work date of the employee's shift.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scheduleDetailsId",
                        "in": "query",
                        "description": "Format - int32. Reference (ID) to the record of the employee's shift.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Requests.ShiftNotesRequestBody"
                            },
                            "example": {
                                "notes": "sample note"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": null,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": null,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeNumber}": {
            "put": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Manage Employee Assignment for a Schedule",
                "description": "Schedule assignment API endpoint allows an Employee to be assigned or unassigned to/from a shift schedule.",
                "operationId": "putApiEmployeesByEmployeeNumber",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "Format - int32. Employee number.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "assign",
                        "in": "query",
                        "description": "Flag to assign(true) or unassign(false).",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Requests.EmployeeScheduleAssignmentRequestBody"
                            },
                            "example": {
                                "scheduleDetailsID": 24699,
                                "workDate": "2020-10-17T12:00:00.0000000+00:00",
                                "ignoreWarnings": false,
                                "override": true
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/shifts/cell-statuses": {
            "put": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Schedule Shift Cell Status",
                "description": "Schedule cell status endpoint allows for updates to a schedules cell status based on a schedule detail Id and work date. If the request sends a null body \"{}\", the endpoint will remove Cell Status from the Schedule",
                "operationId": "putApiShiftsCellstatuses",
                "parameters": [
                    {
                        "name": "scheduleDetailsId",
                        "in": "query",
                        "description": "Format - int32. Reference (ID) to the record of the employee's shift.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "workDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Work date of the employee's shift.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Requests.ShiftCellStatusRequestBody"
                            },
                            "example": {
                                "cellStatusId": 22
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": null,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": null,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeNumber}/experiences": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Retrieve Employee Experience",
                "description": "This API endpoint returns experience for a specific employee. Optionally, the list can be filtered on Type of Experience Id.",
                "operationId": "getApiEmployeesByEmployeeNumberExperiences",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "Employee number.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "experienceTypeId",
                        "in": "query",
                        "description": "Experience Type Id.",
                        "schema": {
                            "enum": [
                                "SystemMantained",
                                "Other",
                                "Lockout"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.EmployeeExperienceOkResponse"
                                },
                                "example": {
                                    "data": [
                                        [
                                            {
                                                "experienceId": 105,
                                                "experienceTypeId": 2,
                                                "experienceType": "Other",
                                                "eligibilityTypeId": 2,
                                                "eligibilityType": "Entire Job",
                                                "jobNumber": 950015,
                                                "jobName": "Punell Securities",
                                                "postDescription": null,
                                                "jobPostId": null,
                                                "lastWorkedDate": "2015-04-04T12:00:00.0000000+00:00",
                                                "firstWorkedDate": null,
                                                "otherDescriptionId": 1,
                                                "otherDescription": "Fully Trained",
                                                "lockOutReasonId": null,
                                                "lockOutReason": null,
                                                "customerNumber": null,
                                                "customerName": null,
                                                "notes": null,
                                                "allowOverwrites": true
                                            }
                                        ]
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Add Employee Experience",
                "description": "This API endpoint will add experience for a specific employee.",
                "operationId": "postApiEmployeesByEmployeeNumberExperiences",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "Employee number.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Requests.EmployeeExperienceRequestBody"
                            },
                            "example": {
                                "experienceTypeId": 2,
                                "eligibilityTypeId": 2,
                                "jobNumber": 950015,
                                "jobPostId": null,
                                "lastWorkedDate": "2015-04-04T12:00:00.0000000+00:00",
                                "firstWorkedDate": null,
                                "otherDescriptionId": 1,
                                "lockOutReasonId": null,
                                "customerNumber": null,
                                "notes": null,
                                "allowOverwrites": false
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.EmployeeExperienceCreatedResponse"
                                },
                                "example": {
                                    "experienceId": 105,
                                    "experienceTypeId": 2,
                                    "experienceType": "Other",
                                    "eligibilityTypeId": 2,
                                    "eligibilityType": "Entire Job",
                                    "jobNumber": 950015,
                                    "jobName": "Punell Securities",
                                    "postDescription": null,
                                    "jobPostId": null,
                                    "lastWorkedDate": "2015-04-04T12:00:00.0000000+00:00",
                                    "firstWorkedDate": null,
                                    "otherDescriptionId": 1,
                                    "otherDescription": "Fully Trained",
                                    "lockOutReasonId": null,
                                    "lockOutReason": null,
                                    "customerNumber": null,
                                    "customerName": null,
                                    "notes": null,
                                    "allowOverwrites": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post-setups": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Retrieve Post Information",
                "description": "This API endpoint will return Shift Details for Posts associated with the Job Number.",
                "operationId": "getApiPostsetups",
                "parameters": [
                    {
                        "name": "jobNumber",
                        "in": "query",
                        "description": "Job identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "description": "Flag for active. True (by default).",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "jobPostId",
                        "in": "query",
                        "description": "Format - int32. Post Identifier.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.PostSetupOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "jobNumber": 12345,
                                            "posts": [
                                                {
                                                    "jobPostId": 19,
                                                    "postDescription": "South Entrance",
                                                    "shiftDetails": [
                                                        {
                                                            "postDetailsId": 1096,
                                                            "shiftId": "A",
                                                            "startDate": "2019-01-01T12:00:00.0000000+00:00",
                                                            "endDate": "2019-01-01T12:00:00.0000000+00:00",
                                                            "shiftStartTime": "2025-01-19T08:00:00.0000000+00:00",
                                                            "shiftEndTime": "2025-01-19T04:00:00.0000000+00:00",
                                                            "lunch": 0
                                                        },
                                                        {
                                                            "postDetailsId": 1079,
                                                            "shiftId": "B",
                                                            "startDate": "2015-04-02T12:00:00.0000000+00:00",
                                                            "endDate": "2015-04-02T12:00:00.0000000+00:00",
                                                            "shiftStartTime": "2025-01-19T08:00:00.0000000+00:00",
                                                            "shiftEndTime": "2025-01-19T04:00:00.0000000+00:00",
                                                            "lunch": 1
                                                        }
                                                    ]
                                                }
                                            ],
                                            "compliances": [
                                                {
                                                    "id": 3,
                                                    "description": "CPR Training"
                                                },
                                                {
                                                    "id": 9,
                                                    "description": "Security Training Class"
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{empNumber}/calloff": {
            "put": {
                "tags": [
                    "Schedules"
                ],
                "summary": "[Deprecated] Employee Schedule Call Off",
                "description": "[Deprecated] This API endpoint allows an Employee to be unassigned from a schedule and updates the shift detail notes field. If using call off shift status, it will automatically update the status to Call Off.",
                "operationId": "putApiEmployeesByEmpNumberCalloff",
                "parameters": [
                    {
                        "name": "empNumber",
                        "in": "path",
                        "description": "Format - int32. Employee number.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Example",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Requests.CallOffRequestBody"
                            },
                            "example": {
                                "scheduleDetailsID": 24699,
                                "workDate": "2020-10-17T12:00:00.0000000+00:00",
                                "notes": "sample note"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/shift-details/{scheduleDetailsId}/notes": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Retrieve Shift Notes",
                "description": "This API endpoint return shift notes for a shift of a specific employee schedule.",
                "operationId": "getApiShiftdetailsByScheduleDetailsIdNotes",
                "parameters": [
                    {
                        "name": "scheduleDetailsId",
                        "in": "path",
                        "description": "Format - int32. Reference (ID) to the record of the employee's shift.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "jobNumber",
                        "in": "query",
                        "description": "Job identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "workDate",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Work date of the employee's shift.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.EmployeeShiftNotesOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "employeeNumber": 2189,
                                            "inTime": "1899-12-30T10:00:00.0000000+00:00",
                                            "outTime": "1899-12-30T11:00:00.0000000+00:00",
                                            "notes": "Scheduled for 1 Hour"
                                        },
                                        {
                                            "employeeNumber": 2189,
                                            "inTime": "1899-12-30T11:00:00.0000000+00:00",
                                            "outTime": "1899-12-30T06:00:00.0000000+00:00",
                                            "notes": "Scheduled for 7 Hours"
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeKey}/recent-schedules": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Retrieve Employees Recent Schedule",
                "description": "Employee Recent Schedules endpoint returns by default, the last three shifts for an employee looking back seven days. Updating the offset will allow you to reach back N of shifts in the previous seven days. This endpoint includes an option to stack shifts, summarizing shift punch in/out and punch source across posts. Punch Source options are PSTT, PSTT reconcile, and Team Time. If IsStackedShifts is  true, we'll combine contiguous shifts based on work date and job number.",
                "operationId": "getApiEmployeesByEmployeeKeyRecentschedules",
                "parameters": [
                    {
                        "name": "employeeKey",
                        "in": "path",
                        "description": "Employee number or Employee Id.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Format - int32. The number of shifts before the current day to return. The default value is -3.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "includePSTT",
                        "in": "query",
                        "description": "If true, it will include PSTT records on the result, by default False.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "isStackedShifts",
                        "in": "query",
                        "description": "If true, it will combine the contiguous shift and create stacked shifts for them, by default False.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "onlyETK",
                        "in": "query",
                        "description": "If true, it will only return schedules for jobs that are setup for TeamTime, by default False.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. The size of the page.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Format - int32. The page number you want to retrieve.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "searchFieldName",
                        "in": "query",
                        "description": "A datapoint you’d like to search records by. Possible values are: \"JobNumber\", \"JobState\", \"ScheduleInTime\", \"ScheduleOutTime\", \"Lunch\", \"Hours\", \"PunchInSource\", \"PunchOutSource\", \"PostDetailId\", \"JobPostId\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "The text you’ll search for in results from the \"SearchFieldName\" you’ve specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "A datapoint you’d like to sort records by. Possible values are: \"JobNumber\", \"JobState\", \"ScheduleInTime\", \"ScheduleOutTime\", \"Lunch\", \"Hours\", \"PunchInSource\", \"PunchOutSource\", \"PostDetailId\", \"JobPostId\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ascending",
                        "in": "query",
                        "description": "Indicates whether or not the order should be ascending (true) or descending (false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.EmployeeRecentSchedulesOkResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "pageNumber": 1,
                                            "pageSize": 100,
                                            "totalPages": 1,
                                            "totalCount": 1,
                                            "results": [
                                                {
                                                    "schedules": [
                                                        {
                                                            "workDate": "2021-04-01T12:00:00.0000000+00:00",
                                                            "scheduleDetailsId": 32306
                                                        },
                                                        {
                                                            "workDate": "2021-04-04T12:00:00.0000000+00:00",
                                                            "scheduleDetailsId": 32306
                                                        },
                                                        {
                                                            "workDate": "2021-04-05T12:00:00.0000000+00:00",
                                                            "scheduleDetailsId": 32306
                                                        },
                                                        {
                                                            "workDate": "2021-04-06T12:00:00.0000000+00:00",
                                                            "scheduleDetailsId": 32306
                                                        },
                                                        {
                                                            "workDate": "2021-04-07T12:00:00.0000000+00:00",
                                                            "scheduleDetailsId": 32306
                                                        }
                                                    ],
                                                    "jobNumber": 9185,
                                                    "jobState": "NE",
                                                    "scheduleInTime": null,
                                                    "scheduleOutTime": null,
                                                    "lunch": 5,
                                                    "hours": 35,
                                                    "punchedIn": true,
                                                    "punchedOut": true,
                                                    "isCurrentShift": false,
                                                    "isShiftExemptFromOT": false,
                                                    "punchInSource": null,
                                                    "punchOutSource": null,
                                                    "isPostWatchJob": false,
                                                    "postDetailId": 130,
                                                    "jobPostId": 89
                                                }
                                            ]
                                        }
                                    ],
                                    "success": true,
                                    "serverResponse": "OK."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/schedules/details/cells-info/{cellInfoId}/descriptions": {
            "patch": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Update Cell Information",
                "description": "This API endpoint will update Hours and Invoice Description for a shift detail.",
                "operationId": "patchApiSchedulesDetailsCellsinfoByCellInfoIdDescriptions",
                "parameters": [
                    {
                        "name": "cellInfoId",
                        "in": "path",
                        "description": "Format - int32. Identifier of the Schedule Detail Cell Info for which the information will be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Use the type definition for 'CellInfoDescriptionsBase' by structuring the HTTP Request body with a JSON Patch format, reference: http://jsonpatch.com/",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Models.CellInfoDescriptionsBase"
                            },
                            "example": [
                                {
                                    "op": "replace",
                                    "path": "/hoursDescriptionID",
                                    "value": 68
                                },
                                {
                                    "op": "replace",
                                    "path": "/invoiceDescriptionID",
                                    "value": 18
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Functions.Models.Responses.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": 0,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/employees/{employeeNumber}/experiences/{experienceId}": {
            "patch": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Update Employee Experience",
                "description": "This API endpoint will update an employee's experience.",
                "operationId": "patchApiEmployeesByEmployeeNumberExperiencesByExperienceId",
                "parameters": [
                    {
                        "name": "employeeNumber",
                        "in": "path",
                        "description": "Format - int32. Employee Number.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "experienceId",
                        "in": "path",
                        "description": "Format - int32. Experience identifier.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Use the type definition for 'EmployeeExperienceRequestBase' by structuring the HTTP Request body with a JSON Patch format, reference: http://jsonpatch.com/",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Models.Requests.EmployeeExperienceRequestBase"
                            },
                            "example": [
                                {
                                    "op": "replace",
                                    "path": "/experienceTypeId",
                                    "value": 2
                                },
                                {
                                    "op": "replace",
                                    "path": "/eligibilityTypeId",
                                    "value": 3
                                },
                                {
                                    "op": "replace",
                                    "path": "/jobNumber",
                                    "value": 10004
                                },
                                {
                                    "op": "replace",
                                    "path": "/jobPostId",
                                    "value": 62
                                },
                                {
                                    "op": "replace",
                                    "path": "/lastWorkedDate",
                                    "value": "2021-10-23T12:00:00.0000000+00:00"
                                },
                                {
                                    "op": "replace",
                                    "path": "/firstWorkedDate",
                                    "value": "2021-10-23T12:00:00.0000000+00:00"
                                },
                                {
                                    "op": "replace",
                                    "path": "/otherDescriptionId",
                                    "value": 1
                                },
                                {
                                    "op": "replace",
                                    "path": "/lockOutReasonId",
                                    "value": 2
                                },
                                {
                                    "op": "replace",
                                    "path": "/customerNumber",
                                    "value": 10828
                                },
                                {
                                    "op": "replace",
                                    "path": "/notes",
                                    "value": "Experience success"
                                },
                                {
                                    "op": "replace",
                                    "path": "/allowOverwrites",
                                    "value": false
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": null,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.ErrorResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "attemptedValue": null,
                                            "fieldName": "TenantId",
                                            "errorMessage": "TenantId must be a GUID."
                                        }
                                    ],
                                    "success": false,
                                    "serverResponse": "Operation failed! See the Errors for more information."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamSoftware.Azure.Handler.Http.Models.Response"
                                },
                                "example": {
                                    "success": false,
                                    "serverResponse": "Oops, something went wrong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/schedules/details/cells-info/{cellInfoID}": {
            "patch": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Update Pay Rate For Shift",
                "description": "This API endpoint will allow the pay rate to be updated, and will overwrite the current pay rate for the job.",
                "operationId": "patchApiSchedulesDetailsCellsinfoByCellInfoID",
                "parameters": [
                    {
                        "name": "cellInfoID",
                        "in": "path",
                        "description": "Format - int32. Identifier of the Schedule Detail Cell Info for which the information will be updated.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "header",
                        "description": "We'll provide a description of what this value represents and how to obtain one.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Use the type definition for 'ShiftPayRatePatchBase' by structuring the HTTP Request body with a JSON Patch format, reference: http://jsonpatch.com/",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSoftware.WinTeam.Schedules.Models.ShiftPayRatePatchBase"
                            },
                            "example": [
                                {
                                    "op": "replace",
                                    "path": "/payRate",
                                    "value": 7.5
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
